html, body {
  overflow-x: hidden;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color:black;
    background-image: url("../../../public/fondo.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    gap:10px;
    min-height: 100vh;
    max-width: 1920px; /* Establecer un ancho máximo para limitar el tamaño en pantallas más grandes */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
  }

  .welcomeContainer {
    width: auto;
    margin-left: 20px; /* Margen izquierdo para separar del borde */
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 8px;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 95%; /* Ocupa todo el ancho disponible */
    margin-top: -10px;
  }
  
  @media (max-width: 1920px) {
    /* Estilos para pantallas Full HD (1920x1080) y más pequeñas */
    .container {
      justify-content: space-around;
      gap: 5px;
    }
  }
  
  @media (max-width: 1200px) {
    /* Estilos para pantallas más pequeñas, como resoluciones de 1600x900 */
    .container {
      max-width: 1600px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      justify-content: space-around;
      gap: 5px;
      flex-direction: row;
      /* max-width: 1350px; */
    }
  }