.footer {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 5px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    box-sizing: border-box; /* Importante para evitar que el padding afecte el ancho */
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }