.container {
    background-image: url('./fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .label {
    margin-top: 1rem;
  }
  
  .input,
  .select {
    margin-top: 0.5rem;
    width: 300px;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .button:hover {
    background-color: #45a049;
  }