.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* max-width: 1330px; */
    margin: 0 auto;
    background-color: #020202;
    padding: 10px;
    border-radius: 1px;
    opacity: 90%;
    /* z-index: 999; Asegura que la barra de navegación esté en la parte superior */
  }
  
  .link {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    background-color: #007bff; 
    padding: 10px 20px; 
    border-radius: 4px; 
    color: #fff; 
  }
  
  .link:hover {
    background-color: #0056b3; 
  }

  .globeContainer {
    position: relative;
    margin-left: -200px;
    margin-top: -10px;
  }

  .globe {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: 40px;
    position: absolute;
    top: 12px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Ajusta la posición horizontal según tus necesidades */
    cursor: pointer;
  }