.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px; /* Ajusta el espaciado según tus necesidades */
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0 50px; /* Ajusta el espaciado entre los enlaces */
  transition: color 0.3s ease;

  &:hover {
    color: #00bcd4;
  }
}

.globeContainer {
  cursor: pointer;
}

.globe {
  width: 20px;
  height: 20px;
}

.mobileMenuButton {
  display: none; /* Oculta el botón del menú hamburguesa en pantallas más grandes */
  cursor: pointer;
}

/* Media query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .mobileMenuButtonContainer{
    margin-left: 30px;
    margin-top: -29px;
  }

  .link {
    margin: 10px 0; /* Espaciado entre los enlaces en dispositivos móviles */
    display: none;
  }

  .mobileMenuButton {
    display: block; /* Muestra el botón del menú hamburguesa en dispositivos móviles */
  }
}